@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Fjalla One';
    background: url('../images/black-and-white-door-view.jpeg') center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 10px;
    color: antiquewhite;
    text-decoration: none;
}

h1,
h2 {
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem;
}

#container {
    /*height: 100vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    max-height: 90%;
    margin: 1.5rem auto;
}

.home-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    max-height: 90%;
    margin: 1.5rem auto;
}


.page-container {
    text-align: center;
    padding: 1.5rem;
    border: 0.5rem solid antiquewhite;
    background-color: rgb(78, 78, 78, 0.85);
    border-radius: 2%;
}

.page-container p {
    font-size: 1.25rem;
    padding: 0.5rem;
}

.title {
    /*padding-bottom: 2rem;*/
    font-size: 2.5rem;

}

/*
.quiz-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 6rem;
    text-align: center;
    border: 0.5rem solid antiquewhite;
    background-color: rgb(78, 78, 78, 0.75);
    border-radius: 2%;
    max-width: 40%;
    margin: 3rem auto;
    text-decoration: none;
}
*/

/* add box shadowing to buttons */

.btn {
    color: antiquewhite;
    font-size: 1.25rem;
    font-family: inherit;
    letter-spacing: 1.5px;
    border: 0.25rem solid antiquewhite;
    background-color: rgb(107, 9, 9);
    border-radius: 5%;
    /*padding maybe 2rem*/
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

/* Modal */

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(250, 235, 215, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    background-color: rgb(78, 78, 78);
    width: 90vw;
    /*height: 55vh;*/
    max-width: 90%;
    padding: 2rem;
    border: 0.25rem solid rgb(107, 9, 9);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(107, 9, 9, 0.2);
}

.modal h2 {
    color: rgb(250, 235, 215);
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.modal p {
    font-family: 'Open Sans Condensed';
    padding: 0.5rem;
}

.modal li {
    padding-top: 2rem;
    font-family: 'Open Sans Condensed';
    display: inline;
    font-size: 1rem;
    line-height: 2rem;
}

#close {
    display: inline;
}



/* Quiz page */


.choice-container {
    background-color: rgb(78, 78, 78, 0.75);
    display: flex;
    width: 100%;
    font-size: 1.75rem;
    border: 0.25rem solid antiquewhite;
    border-radius: 2%;
    background-color: rgb(107, 9, 9);
    /*
    justify-content: center;
    */
    align-items: center;
    margin: 1rem auto;
}

.choice-container:hover {
    cursor: pointer;
}

.choice-container>p {
    text-align: left;
}

#container h2 {
    padding: 1rem 0;
    text-align: left;
    letter-spacing: 1px;
}

.choice-prefix {
    color: rgb(107, 9, 9);
    background-color: antiquewhite;
    border: 0.25rem solid rgb(78, 78, 78);
    border-radius: 50%;
    padding-inline: 1rem;
    margin: 0.25rem;
}

.choice-text {
    padding: 1rem;
    font-size: 1rem;
    letter-spacing: 1px;
    width: 100%;

}

#question {
    text-align: left;
    letter-spacing: normal;
    line-height: 1.5em;
}

/* HUD - Score and question counter */

#hud {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
}

.hud-prefix {
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Open Sans Condensed';
}

.hud-main-text {
    padding-top: 0.75rem;
    text-align: center;
}

#score {
    /*color: rgb(8, 143, 8);*/
    transition: ;
}

/* ClassToApply - if question is answered correctly or incorrectly */

.correct {
    background-color: #33CC00;
}

.incorrect {
    background-color: #FF0000;
}

/* Sweet alert styling */

.swal-text {
    color: #FAEBD7;
}



/* End page */

#end-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    text-align: center;
    padding: 1.5rem 3rem;
    border: 0.5rem solid antiquewhite;
    background-color: rgb(78, 78, 78, 0.75);
    border-radius: 2%;
}

#username {
    font-family: inherit;
    margin-top: 1rem;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 1.5px;
    border: 0.4rem solid rgb(107, 9, 9);
    border-radius: 2%;
    background-color: rgb(107, 9, 9);
    opacity: 0.75;
    /*background-color: rgb(78, 78, 78, 0.75);*/
    color: antiquewhite;
}

.end-page-results {
    justify-content: center;
    font-family: 'Open Sans Condensed';
}

#congrats-message {
    letter-spacing: 1.5px;
    font-size: 1.5rem;
}

/*.end-page-btn {
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
}*/

#saveScoreBtn {
    margin: 2rem auto;
    border-radius: 50%;
    /*padding: 1rem 2rem;*/
    font-family: 'Fjalla One';
    font-size: 1rem;
    color: antiquewhite;
    background-color: rgb(107, 9, 9);
    border: 0.25rem solid antiquewhite;
}

#final-score {
    font-family: 'Fjalla One';
}

/* Social networks */

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}


.social-networks i {
    list-style: none;
    margin: 15px 30px;
    display: inline-block;
    font-size: 20px;
    padding: 15px 15px;
    color: rgb(250, 235, 215);
    border: 2px solid rgb(250, 235, 215);
    border-radius: 50%;
}

.social-networks i:hover {
    color: rgb(107, 9, 9);
    border-color: rgb(107, 9, 9);
}


/* Media queries */

@media screen and (max-width: 576px) {

    #container {
        max-height: 90%;
        max-width: 90%;
    }


    h2 {
        font-size: 1.5rem;
    }

    #question {
        font-size: 1.75rem;
    }

    .choice-container p {
        font-size: 1rem;
    }

    .hud-prefix {
        font-size: 1rem;
    }

    .hud-main-text {
        font-size: 1.25rem;
    }

    .social-networks i {
        padding: 0.5rem;
        margin: 1rem;
    }
}