@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Fjalla One';
    background: url('../images/black-and-white-door-view.jpeg') center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 10px;
    color: antiquewhite;
    text-decoration: none;
}

h1,
h2 {
    font-size: 2rem;
    text-decoration: none;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0rem auto;
}


#page-container {
    text-align: center;
    padding: 1.5rem 3rem;
    border: 0.5rem solid antiquewhite;
    background-color: rgb(78, 78, 78, 0.75);
    border-radius: 2%;

}

#page-container p {
    font-size: 1.25rem;
}

.title {
    padding-bottom: 2rem;

}

.quiz-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 6rem;
    text-align: center;
    border: 0.5rem solid antiquewhite;
    background-color: rgb(78, 78, 78, 0.75);
    border-radius: 2%;
    max-width: 40%;
    margin: 3rem auto;
    text-decoration: none;
}

/* add box shadowing to buttons */

.btn {
    color: antiquewhite;
    font-size: 1.25rem;
    letter-spacing: 1.5px;
    border: 0.25rem solid antiquewhite;
    background-color: rgb(107, 9, 9);
    border-radius: 5%;
    padding: 0.5rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

/* Quiz page */


.choice-container {
    background-color: rgb(78, 78, 78, 0.75);
    display: flex;
    width: 100%;
    font-size: 1.75rem;
    border: 0.25rem solid antiquewhite;
    border-radius: 2%;
    background-color: rgb(107, 9, 9);
    /*
    justify-content: center;
    */
    align-items: center;
    margin: 1rem auto;
}

.choice-container:hover {
    cursor: pointer;
}

.choice-container>p {
    text-align: left;
}

#container h2 {
    padding: 1rem 0;
    text-align: left;
    letter-spacing: 1px;
}

.choice-prefix {
    color: rgb(107, 9, 9);
    background-color: antiquewhite;
    border: 0.25rem solid rgb(78, 78, 78);
    border-radius: 50%;
    padding-inline: 1rem;
    margin: 0.25rem;
}

.choice-text {
    padding: 1rem;
    font-size: 1rem;
    letter-spacing: 1px;
    width: 100%;

}

#hud {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
}

.hud-prefix {
    text-align: center;

    letter-spacing: 1px;
}